*
!*/
!*.d
!*.py
!*.md
!Makefile
!dub.json
!.travis.yml
!.gitignore
!requirements.txt

.dub
docs.json
__dummy.html
docs/
gym-binding-d.so
gym-binding-d.dylib
gym-binding-d.dll
gym-binding-d.a
gym-binding-d.lib
gym-binding-d-test-*
*.exe
*.o
*.obj
*.lst
